<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720293014871-dq7rla9vqpr2c8vtedg1fcelqj2jnvp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720293014871-dq7rla9vqpr2c8vtedg1fcelqj2jnvp6</string>
	<key>API_KEY</key>
	<string>AIzaSyBINrrYAWLfX3AoCmQBPwjZg1iUJXZo4Uw</string>
	<key>GCM_SENDER_ID</key>
	<string>720293014871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.coinapp</string>
	<key>PROJECT_ID</key>
	<string>coinappios</string>
	<key>STORAGE_BUCKET</key>
	<string>coinappios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720293014871:ios:99a01f7cd7ec4d31d4e212</string>
</dict>
</plist>